body {
    background-color: black;
}

div.main {
    background-color: #daecf7;
    margin: 10px 10px 10px 10px;
    padding: 20px 20px 20px 20px;
}

th, td {
    padding: 4px;
}

.footer {
    font-size: 75%;
    color: white;
}

.monospaced {
    font-family: monospace, monospace;
    font-size: 80%;
}

pre {
   background-color: white;
   padding: 5px 5px 5px 5px}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.indent {
    margin-left: 40px;
}

.smaller-text {
    font-size: 80%;
}
