th, td {
  padding: 4px;
}

.footer {
  font-size: 75%;
}

.monospaced {
  font-family: monospace, monospace;
  font-size: 80%;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.indent {
  margin-left: 40px;
}

.smaller-text {
  font-size: 80%;
}