th, td {
  padding: 4px;
}

.footer {
  font-size: 75%;
}

.monospaced {
  font-family: monospace, monospace;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.halfsize {
  width: 50%;
  height: auto;
}
